<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
        h1 {
            margin-top: 2%
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank you for your business!</h1>
        <p>We charged your credit card for ${{request.session.final_price}}</p>
        <p>You have ordered {{request.session.number_of_items}} item(s) so far and spent ${{request.session.total_price}} dollars on Amadon.com</p>
        <a href="/" type="button" class="btn btn-light">Go Back</a>
    </div>
</body>
</html>